node_modules
sass_cache
.idea
.DS_store
npm-debug.log
.DS_Store
.env
!.env.example

/public/assets
/public/**/*.php
/public/**/*.html
/public/vendor

!/public/app/*.php
!/public/blog/*.php
!/public/blog/themes/**/*.php

/public/blog/app

