{% set seoData = {
'pageTitle': 'Accessibility | Packet39',
'pageDescription' : 'Packet39\'s Accessibility Policy',
'pageURL' : 'http://packet39.com/accessibility',
'footerDirection' : ''
} %}

{% extends "layouts/layout.twig" %}

{% block content %}
    <section class="wrapper alt style3">
        <div class="inner">
            <h1 class="major">Accessibility</h1>
            <p>Packet<sup>39</sup>is committed to providing a website that is accessible to the widest possible
                audience. Packet<sup>39</sup> is actively working towards achieving a fully accessible website that
                endeavours to
                conform to the World Wide Web Consortium (W3C) Web Content Accessibility Guidelines (WCAG) 2.0. The WCAG
                2.0 standard closely matches the requirements outlined by the Accessibility for Disabled Ontarian's act
                which Packet<sup>39</sup> falls under the guidelines of.</p>
            <p>If you have further questions or feedback relating to this website, please use our <a href="#footer" title="Contact Form Jump link" data-scroll>contact form</a> below.</p>

        </div>
    </section>

{% endblock %}
