{% set seoData = {
    'pageTitle': 'Packet39 | Virtual & Augmented Reality, Custom Solutions',
    'pageDescription' : 'We develop custom software and hardware solutions, Virtual Reality, Augmented Reality, computer vision and image processing applications for your needs.',
    'pageURL' : 'https://packet39.com/',
    'footerDirection' : 'alt'
}%}

{% extends "layouts/layout.twig" %}

{% block content %}
<section class="wrapper spotlight style1" id="firstSection">
    <div class="inner">
        <img src="{{ imagePath }}/pic01.jpg" alt="Person standing on an interactive display" title="Person standing on an interactive display" class="image"/>
        <div class="content">
            <h1 class="major">Packet<sup>39</sup></h1>
            <strong class="major focus">Code outside the box</strong>
            <p>We are a team of professional software developers and academics, working together to provide
                software & hardware solutions. We thrive in the space between code and the physical world and we
                develop solutions that sense, manipulate and move around in the environment. </p>
            <p>
                <a href="#footer" data-scroll class="button" title="Click here to contact Us">Contact Us</a>
            </p>
        </div>
    </div>
</section>


<section class="wrapper alt spotlight style2">
    <div class="inner">
        <img src="{{ imagePath }}/pic04.jpg" alt="Person using a VR headset" title="Person using a VR headset" class="image"/>
        <div class="content">
            <h2 class="major">Virtual Reality</h2>
            <p>We design and develop Virtual Reality, Augmented Reality and Mixed Reality games and experiences.</p>
            <p>We can build your idea, or help you refine it. We can deliver games or applications for Google
                Cardboard, Daydream, Samsung GearVR, Oculus Rift, Windows MR or the HTC Vive (our preferred platform).

                We specialize in safety and training applications for the manufacturing, power and aerospace industries.</p>
        </div>
    </div>
</section>


<section class="wrapper spotlight style1">
    <div class="inner">
        <img src="{{ imagePath }}/pewpew.png" alt="Augmented Reality demo of Alien Attack" title="Augmented Reality demo of Alien Attack" class="image"/>
        <div class="content">
            <h2 class="major">Augmented Reality</h2>
            <p>Bring to life static everyday objects, from business cards, to books, magazines, brochures and
                even three dimensional items such as toys or consumer products. Overlay, animate, gamify and
                extend your marketing materials.</p>
            <p>Try it yourself, download our AR apps from the links below (Android only). Run the app and point
                your smartphone camera at one of our cards. If you don't have any, you can download and print
                our <a href="https://packet39.com/assets/images/BizCard.png" target="_blank" title="Business card download">business
                    card</a> or the
                <a href="https://packet39.com/assets/images/AlienAttack.png" target="_blank" title="Alien Attack game card download">Alien
                    Attack
                    game card</a>.
            </p>
            <p>
                <a href="https://www.dropbox.com/s/wdp1tnpkqi83ov1/Packet39.apk?dl=1" class="button"
                   title="Business Card AR">
                    Business Card AR
                </a>
                <a href="https://www.dropbox.com/s/flq8g7g8dkcjoqp/Packet39%20Alien%20Attack.apk?dl=1" class="button"
                   title="Alien Attack">
                    Alien Attack
                </a>
            </p>
        </div>
    </div>
</section>

<section class="wrapper alt spotlight style2">
    <div class="inner">
        <img src="{{ imagePath }}/pic02.jpg" alt="Example of computer code" title="Example of computer code" class="image"/>
        <div class="content">
            <h2 class="major">Software</h2>
            <p>We develop software under Windows or Linux, using C# & .Net, Matlab, C++, Java or Python. We are
                familiar with OpenCV, EMGU, PCL, OpenNI and other CV and Image processing libraries.
            </p>
            <p>
                We have experience in a wide range of fields, including virtual reality, augmented reality,
                action recognition in video, shape detection in stills, segmentation, medical imaging, 3D
                printing, 3D scanning and 3D reconstruction, gesture and finger detection using depth cameras,
                optical flow, face tracking and much more.
            </p>
            <p>
                With decades of combined expertise, we can develop and implement algorithms to solve real world
                problems. We will choose the right hardware, cameras or sensors for your needs and provide a
                start-to-finish service.</p>
        </div>
    </div>
</section>

<section class="wrapper spotlight style3">
    <div class="inner">
        <img src="{{ imagePath }}/pic03.jpg" alt="A wide range of hardware and sensors on a table" title="A wide range of hardware and sensors on a table" class="image"/>
        <div class="content">
            <h2 class="major">Hardware & Sensors</h2>
            <p>We can recommend the hardware most suited for your needs, or work with the equipment you already
                have. We have experience with a wide range of small board computers, cameras and sensors,
                including Arduino, Raspberry Pi, machine vision cameras and depth cameras.
            </p>
            <p>
                We can build custom hardware, testing rigs, quadcopters, robotics or tactile user interfaces. We
                have the facilities and expertise to design, test and fabricate in-house most of the parts
                needed for small to medium projects, allowing a very quick turnaround time. We've also worked
                with thermal imagers, capacitance sensors, laser scanners and more exotic forms of remote
                sensing and data acquisition.</p>
        </div>
    </div>
</section>





{% endblock %}
