{% set seoData = {
'pageTitle': 'Privacy Policy | Packet39',
'pageDescription' : 'Packet39\'s Privacy Policy',
'pageURL' : 'https://packet39.com/privacy',
'footerDirection' : ''
} %}

{% extends "layouts/layout.twig" %}

{% block content %}
    <section class="wrapper alt style3">
        <div class="inner">
            <h1 class="major">Privacy Policy</h1>
            <p>Packet<sup>39</sup> has created this privacy policy in order to
                demonstrate our firm commitment to privacy and the protection of your information. The following
                discloses our information gathering and dissemination practices. Minors under the age of 18 are not
                eligible to use our services and we ask that minors do not submit any personal information to us. If you
                are a minor, you may enjoy our services only if your parent or guardian registers with us as a member
                and accesses our services on your behalf.</p>
            <p>Please remember that any information that is disclosed in these areas becomes public information and you
                should exercise caution when deciding to disclose your personal information. Packet<sup>39</sup>
                will never willfully sell or rent for consideration any personally identifiable
                    information about you or your business to any third party without first receiving your permission.

            </p>
            <p>This website has security measures in place to protect the loss, misuse and alteration of the information
                under our control.</p>
            <p>Packet<sup>39</sup> uses “Google Analytics” to collect
                information about use of this site. Google Analytics collects information such as how often users visit
                this site, what pages they visit, when they do so, and what other sites they used prior to coming to
                this site. We use the information we get from Google Analytics only to improve this site. Google
                Analytics collects only the IP address assigned to you on the date you visit this site, rather than your
                name or other identifying information. We do not combine the information collected through the use of
                Google Analytics with personally identifiable information. Although Google Analytics plants a permanent
                cookie on your web browser to identify you as a unique user the next time you visit this site, the
                cookie cannot be used by anyone but Google.</p>
            <p>Google’s ability to use and share information collected by Google Analytics about your visits to this
                site is restricted by the Google Analytics Terms of Use and the Google Privacy Policy. You can prevent
                Google Analytics from recognizing you on return visits to this site by disabling cookies on your
                browser.</p>
            <p>Google Analytics employs cookies to define user sessions, which allows for the collection of data about
                how visitors are using the websites. Google Analytics uses only first-party cookies for data analysis.
                This means that the cookies are linked to a specific website domain, and Google Analytics will only use
                that cookie data for statistical analysis related to your browsing behavior on that specific website.
                According to Google, the data collected cannot be altered or retrieved by services from other
                domains.</p>
            <p>This website uses the Google AdWords remarketing service to advertise on third party websites (including
                Google) to previous visitors to our site. It could mean that we advertise to previous visitors who
                haven’t completed a task on our site, for example using the contact form to make an enquiry. This could
                be in the form of an advertisement on the Google search results page, or a site in the Google Display
                Network. Third-party vendors, including Google, use cookies to serve ads based on someone’s past visits
                to the Packet<sup>39</sup> website. Of course, any data
                collected will be used in accordance with our own privacy policy and Google’s privacy policy.</p>
            <p>You can set preferences for how Google advertises to you using the Google Ad Preferences page, and you
                can opt out of interest-based advertising entirely by cookie settings or permanently using a browser
                plugin.</p>
            <p>If you choose, you can opt out by turning off cookies in the preferences settings in your web browser.
                For more information on Google Analytics, please visit Google Analytics.</p>
            <p>This privacy policy reflects Packet<sup>39</sup> current policy
                and practices. Packet<sup>39</sup> reserves the right to modify
                the Packet<sup>39</sup> privacy policy and practices at any
                time, effective upon posting of the modified Packet<sup>39</sup> privacy policy in our website.</p>
            <p>If you have any questions about this privacy policy, the practices of this website, or your dealings with
                us, please contact us using the information or form below.</p>
        </div>
    </section>

{% endblock %}
