{% set seoData = {
'pageTitle': 'Privacy Policy | Packet39',
'pageDescription' : 'Packet39\'s Privacy Policy',
'pageURL' : 'http://packet39.com/privacy',
'footerDirection' : ''
} %}

{% extends "layouts/layout.twig" %}

{% block content %}
    <section class="wrapper alt style3">
        <div class="inner">
            <h1 class="major">Sitemap</h1>

        </div>
    </section>

{% endblock %}
