{% set seoData = {
'pageTitle': 'Packet39 | Virtual & Augmented Reality, Custom Solutions',
'pageDescription' : 'We develop custom software and hardware solutions, Virtual Reality, Augmented Reality, computer vision and image processing applications for your needs.',
'pageURL' : 'http://packet39.com/'
}%}

{% extends "layouts/layout.twig" %}

{% block content %}



{% endblock %}
