{% set seoData = {
'pageTitle': 'The Team | Packet39',
'pageDescription' : 'Learn more about those behind Packet39',
'pageURL' : 'http://packet39.com/the-team',
'footerDirection' : 'alt'
}%}

{% extends "layouts/layout.twig" %}

{% block content %}

    <section class="wrapper style1">
        <div class="inner">
            <h1 class="major">The Team</h1>
            <section class="features">
                <article>
                    <div class="image"><img src="{{ imagePath }}/vice.png" alt="Shachar 'Vice' Weis profile photo" title="Shachar 'Vice' Weis profile photo"/></div>
                    <h3 class="major">Shachar "Vice" Weis</h3>
                    <p>Shachar is a software developer with over 20 years of experience. He has worked in many
                        fields and disciplines, from ancient mainframes to tiny system-on-chip units. Shachar has
                        extensive experience with small board computer and low-power systems, 3D platforms like
                        OpenGL, DirectX, XNA and Three.JS. Shachar has dealt with first-tier customers like Disney,
                        Sears, GE and Mazda.</p>
                    <p>
                        Shachar usually goes by Vice, and is also a tinkerer, maker, 3d printing enthusiast and
                        photographer. Follow some of his projects on his blog <a
                                href="http://CallMeVice.com" target="_blank" title="CallMeVice.com Website">CallMeVice.com</a>
                    </p>


                </article>
                <article>
                    <div class="image"><img src="{{ imagePath }}/lena.png" alt="Dr. Lena Gorelick profile photo" title="Dr. Lena Gorelick profile photo"/></div>
                    <h3 class="major">Lena Gorelick</h3>
                    <p> Dr. Gorelick is currently a research scientist with the Computer Science Department at the
                        University of Western Ontario, London, Canada. Both her MSc (2004) and PhD (2009) are in
                        Computer Science and Applied Mathematics from the Weizmann Institute of Science, Israel.
                        During the past 16 years Lena has gained a lot of experience in various academic, military
                        and industrial fields. Lena's publications can be found on her website, <a
                                href="http://www.csd.uwo.ca/~ygorelic/" target="_blank" title="Lena's Publications">csd.uwo.ca/~ygorelic/</a></p>
                    <p>
                        Lena is also an artist and a jeweler, she has an <a
                                href="https://lenagorelick.wordpress.com/" target="_blank" title="Lena's Art Blog">art blog</a> and an Etsy store called <a
                                href="https://nunandnoot.etsy.com/" target="_blank" title="Lena's Etsy Store">Nun&amp;Noot</a>.</p>
                </article>

                <article>
                    <div class="image"><img src="{{ imagePath }}/hossam.png" alt="Hossam Issacs profile photo" title="Hossam Issacs profile photo"/></div>
                    <h3 class="major">Hossam Issacs</h3>
                    <p> Hossam is doing his post-doctorate at the Computer Science Department at the University of
                        Western Ontario, London, Canada. Publications and CV can be found on Hossam's website: <a
                                href="http://www.hisack.com/" target="_blank" title="Hossam's Website">hisack.com</a></p>
                </article>

                <article>
                    <div class="image"><img src="{{ imagePath }}/nick.png" alt="Nicholas Hyland profile photo" title="Nicholas Hyland profile photo"/></div>
                    <h3 class="major">Nicholas Hyland</h3>
                    <p> Nicholas Hylands is a freelance technical artist, studying video game design at Fanshawe College (Class of 2018). Nicholas has a large passion for creating art and problem solving.</p>
                </article>


            </section>
        </div>
    </section>

{% endblock %}
