$headerHeight: 3rem;

#mainHeader {
    position: fixed;
    top: 0;
    z-index:100;
    background-color: lighten(_palette(accent),5%);
    width: 10.5rem;
    height: 100vh;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    display: none;
    @media all and (min-width: 50rem) and (min-height: 30rem) {
        display: block;
    }
    nav {
        margin: 0 auto;
        max-width: 55em;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                padding:0;
                transition: background-color 0.3s ease-in-out;
                &:hover {
                    background-color: _palette(bg);
                }
                a {
                    display: block;
                    padding: 1rem;
                    border-bottom: none;
                    text-align: center;
                }
            }
        }
    }
}

#homeLink {
    border-bottom: none;
    display: block;
    text-align: center;
    padding-top: 1rem;
    img {
        max-width: 50%;
        margin: 0 auto;
    }
}

#heroImage {
    height: 50vw;
    max-height: 50vh;
    margin-bottom: -(_size(wrapper-edges, medium));
    position: relative;
    margin-top: 3rem;
    overflow: hidden;
    img {
        position: absolute;
        top: 50%;
        min-height: 100%;
        min-width: 100%;
        width: auto;
        transform: translate(0, -50%);
    }
}

#page-wrapper {

    margin-top: -$headerHeight;
    @media all and (min-width: 50rem) and (min-height: 30rem) {
        margin-left: 10.5rem;
    }
}

.logged-in {
    margin-top: 2rem;
    #mainHeader {
        top: 2rem;
    }
}
